<div class="col-xs-5 ">
	<div class="row team-one">
		<!-- insert team one here -->
	</div>
</div>
<div class="col-xs-2">
	<div>
		Game Duration
	</div>
	<div>
		4:05
	</div>
</div>
<div class="col-xs-5 team-two">
	<div class="row team-two">
		<!-- insert team two here -->
	</div>
</div>