<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="<%=data.id%>" data-toggle="dropdown" aria-expanded="true">
	<%=data.name%>
	<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" aria-labelledby="<%=data.id%>"></ul>